# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/neontest"

# Neon Managed Auth
NEON_AUTH_BASE_URL="https://your-neon-auth-url.neon.tech/neondb/auth"
# Generate locally with: openssl rand -base64 32
NEON_AUTH_COOKIE_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
